
.leftside{
    
    position: fixed;
    bottom: 450px;

}
.rightSide{
    position: fixed;
    top: 10%;
    right: .5%
   
}

.emailHead{
    position: fixed;
}
.primarySocial{
    position: fixed;
    left: 245px;
    width: 1000px;
}
.inbox{
/*margin-left: 260px;*/
position: fixed;
left: 255px;
top: 150px;


}
td{
    
    padding: 10px;background:#ffffff;
    text-align: left;
    width: 1700px;
}
#row1:hover{
    /*background-color: hsl(0, 72%, 50%);*/
}
a:link,
a:visited,
a:hover,
a:active{
    text-decoration: none;
    color: #050505;
    font-weight: bold;
    cursor: pointer;
}







.popup{
    width:400px;
    background: #fff;
    border-radius: 6px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) scale(1);
    text-align:center;
    padding: 0 30px 30px;
    color: rgb(200, 10, 10);
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    z-index: 5;


}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
}
#text{
    font-weight: 200;
    font-size: 20px;
}
#txt{
    font-weight: 1000;
    font-size: 20px;
}


.popup img{
    width: 200px;
    margin-top: 50px;
    border-radius: 100%;
    height: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);


}
.popup h2{
    font-size: 15px;
    font-weight: 500;
    margin:30px;

}
.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);


}

